body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin:0; */
    background-color: rgb(75, 71, 71);
    font-family: "VT323", monospace;
    
}
.border1{
    border:10px solid #595f43;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #595f43;

}
.border2{
    border:8px solid #abb78a;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #abb78a;
    

  }
.border3{
    border:30px solid #8b996c;
    border-radius: 20px;
    box-shadow:   inset 0 0 0 10px #8b996c;
   
}
.border3,#logo{
    background-color: #c4cfa3;
}
#box{
    display: grid;
    grid-template-columns: repeat(20,20px);
    grid-template-rows:repeat(20,20px);
    width: 400px;
    height: 400px;
    /* margin: 5px; */
}
.scores{
    display: flex;
    justify-content: space-between;
    width: 460px;

}
#currentScore,
#highScore{
font-size: 40px;
font-weight: bolder;

}
#highScore{
    color:#d8ddca;
    display: none;
}
#currentScore{
    color:#abb78a;
}
#logo{
position: absolute;
width:200px;height: 200px;
/* display: none; */
}
#instruction__text{
    /* display: none; */
    position: absolute;
    top:60%;
    color:#333;
    width:350px;
    text-align: center;
    padding: 30px;
    text-transform: capitalize;

}
.footer_text {
    font-weight: bold;
    position: relative;
    top: 3rem;
    color: #abb78a;
    font-size: 20px;
}
.snake,body{
    background-color: rgb(75, 71, 71);
}
.snake{
border :0.1px dotted #5a5a5a
}
.food{
    background-color: #dedede;
    border:1px solid white;
}